body{
  font-family: Arial;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
    clear: both;
}

h3{
  text-align:left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column1 {
  float: left;
  width: 60%;
}

.column2 {
  float: right;
  width: 40%;
}

#frame {
  width: 500px;
  height: 500px;
}


#map {
    height: 500px;
    width: 100%;
    margin: auto;
}



/* Clear floats after the columns */

line {
    stroke-width: 5px;
    stroke: black;
}


circle {
   fill: black;
}

circle:hover{
  fill: yellow;
}


.Border {
  stroke: purple;
  stroke-width: 4;
}

.tooltip{
    position: absolute;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 2px;
    border-style: solid;
    border-color: black;
}
